.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
	text-align: center;
}
.rect {
	display: flex;
	flex-direction: flex-end;
	width: 100%;
	height: 100%;
	background-color: linear-gradient(#ffffff, #ffffff00);
}
